* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  background: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
.bg{
  background: #0f0f10;
}
.bg2{
  background-color: #444141;
}
.bg3{
  background-color: #1e1e21;
}
.bg4{
  color: #ffffffa2;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Navbar */
nav {
  margin: 1rem 10rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div {
  flex-grow: 1;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
nav button {
  padding: 0.5em 3em;
  margin-left: 2rem;
  border-radius: 8px;
}

/* Section 1 */
#sec1 {
  margin: 0 21rem;
  display: flex;
  justify-content: space-between;
  gap: 32%;
}
#sec1Left img {
  position: absolute;
  top: -8rem;
  left: 18rem;
  width: 16%;
}
#sec1Right > img {
  margin-left: 3rem;
  width: 68%;
}
#sec1Right h1 {
  font-size: 3rem;
}
#sec1Right h1,
h4 {
  margin-bottom: 1.3rem;
}
#sec1Right p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
#sec1Right button {
  border: none;
  font-size: 0.9em;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 1em;
  border-radius: 10px;
}

/* SECTION 2 */
#sec2 {
  margin: 10rem 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

/* SECTION 3 */
#sec3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
#sec3 > img {
  width: 15%;
}
#sec3 > div {
  display: flex;
  gap: 5rem;
}
#sec3Left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card:first-child {
  margin-left: 2.5rem;
}
.card:last-child {
  margin-left: 2.5rem;
}
#sec3Right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec3Right img {
  width: 100%;
}

/* Section 4  */
#sec4 {
  margin: 10rem 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
#sec4 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
#sec4Right button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1em;
  gap: 1.5em;
  border-radius: 10px;
  font-size: 1.1rem;
}

