/* SECTION 5 */
#sec5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 1rem 10rem 5rem;
    border-radius: 10px;
    padding: 2rem 12rem;
}
#sec5Left{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#sec5Left span {
    color: #ffffffa2;
}
#sec5Left h2{
    line-height: 1.6rem;
}
#sec5Left button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 1.4em;
    gap: 1em;
    background-color: #000000;
   border-radius: 5px;
   border: none;
}

/* Section 6 */
#sec6{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#sec6 > img {
    width: 20%;
}
#sec6 > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 15rem;
}
.sec6Card {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sec6Card .product {
    position: relative;
    width: 40%;
    top: 5rem;
    background-color: transparent;
}
.sec6Card .detail *{
    background-color: #1e1e21;
}
.sec6Card .detail p {
    font: .8rem;
}
.sec6Card .detail {
    background-color: #1e1e21;
    width: 90%;
    border-radius: 5px;
   display: flex;  
   gap: 1rem;
   justify-content: space-evenly;
   align-items: center;
   padding: 8rem 2rem 0;
}

/* Footer */
footer{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    margin: 5rem 0rem 5rem 10rem;
}
footer h3{
    margin-bottom: 1rem;
}
footer p {
    margin-top: .2em;
    color: #ffffffa2;
}
#fItem4{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#fItem4 div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem .5rem;
    border-radius: 5px;
}
#fItem4 ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}
#fItem4 div input{
    padding: .5rem 0rem;
    border: none;
}
#fItem4 div button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .6em 1.5em;
    border-radius: 5px;
    border: none;
}
